.content{
    padding: 0 .3rem;
    box-sizing: border-box;
}

/* 学校简介 */
.school-description{
    width: 100%;
    margin-bottom: .4rem;
}
.school-description img{
    width: 100%;
    display: block;
    margin-bottom: .4rem;
}
.school-description h3{
    font-size: .22rem;
    height: .38rem;
    line-height: .38rem;
    padding-left: .2rem;
    padding-bottom: .2rem;
    border-bottom: .02rem solid #eeeeee;
    margin-bottom: .25rem;
}
.school-description p{
    font-size: .24rem;
    margin-bottom: .3rem;
}


.headline{
    width: 100%;
    margin-bottom: .3rem;
}
.headline h3{
    font-size: .28rem;
    color: #253b94;
    padding-bottom: .05rem;
    border-bottom: .03rem solid #253b94;
    letter-spacing: .05rem;
    display: inline-block;
}

/* 校园相册 */
.album-list{
    margin-bottom: .56rem;
}
.album-list .item{
    width: 3.35rem;
    height: 2rem;
    overflow: hidden;
    float: left;
    margin:  0 .2rem .2rem 0;
}
.album-list .item img{
    width: 100%;
}
.album-list .item:nth-child(2n){
    margin-right: 0;
}

#extraPhoto{
    width: 100%;
    color: #fff;
    font-size: .22rem;
    cursor: pointer;
    font-weight: 400;
    padding: .06rem .13rem;
    background: #2c86c0;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
}


/* 课程选择 */
.course-close .close-item h1{
    height: .64rem;
    line-height: .64rem;
    text-align: center;
    background-color: #253b94;
    font-size: .28rem;
    color: #ffffff;
}

.course-close .close-item .thead{
    height: .54rem;
    line-height: .54rem;
    background-color: #ffffff;
    font-size: .28rem;
    color: #253b94;
    display: flex;
}
.course-close .close-item .thead span{
    display: block;
    text-align: center;
}
.course-close .close-item .thead span:nth-child(1){
    width: 18%;
}
.course-close .close-item .thead span:nth-child(2){
    width: 55%;
}
.course-close .close-item .thead span:nth-child(3){
    width: 27%;
}
.course-close .close-item .tbody {
    margin-bottom: 54px;
}
.course-close .close-item .tbody li{
    height: .54rem;
    line-height: .54rem;
    background-color: #ffffff;
    font-size: .22rem;
    text-align: center;
    color: #253b94;
    display: flex;
}
.course-close .close-item .tbody li .label{
    width: 18%;
    font-size: .24rem;
    font-weight: bold;
}
.course-close .close-item .tbody li .course{
    width: 55%;
    font-size: .22rem;
}
.course-close .close-item .tbody li .other{
    width: 27%;
    font-size: .22rem;
}
.course-close .close-item .tbody li .house-type{
    display: flex;
    justify-content: space-around;
}
.course-close .close-item .tbody li .house-type div{
    margin: 0 .2rem;
}
.course-close .close-item .tbody li:nth-child(odd){
    background-color: #eeeeee;
}
.course-close .close-item .tbody li:hover{
    background-color: #eeeeee;
}

/* 立即咨询 */
.consultation-wrap {
    margin-top: .65rem;
}
.consultation-wrap p{
    text-align: center;
    font-size: .2rem;
    line-height: .34rem;
}
.consultation-wrap .consulting-btn{
    width: 5.08rem;
    height: 1.03rem;
    margin: .6rem auto;
    background:url(../images/consulting-btn-icon.png) no-repeat;
    background-size: 100%;

}