@charset "utf-8";
/* 重置样式 */
body,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,span,button{
	margin: 0;
	padding: 0;
}

body{
	font-size: 0.24rem;
	color: #0a0a0a;
}

 h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

em{
	font-style: normal;
}

i{font-style: inherit;}

a{
	text-decoration: none;
}

input,textarea,button{
	outline: none;
}

/*去除input默认样式*/
input[type=button], input[type=submit], input[type=file], button { 
	cursor: pointer; 
	-webkit-appearance: none; 
	background: none;
	border: none;
	outline: none;
}

li{
	list-style-type: none;
}

@font-face{
	font-family: 'pangmenzhengdao';
	src: url('../font/庞门正道标题体2.0增强版.ttf');
}

/*清除浮动*/	
.clearfix:before{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
}
.clearfix:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
} 
.clearfix{zoom:1}  /*是在处理兼容性问题*/

/*public 省略号*/
.publicEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 头部 */
.header{
	width: 100%;
	height: .86rem;
	background-color: #253b94;
	padding: 0 .3rem;
	box-sizing: border-box;
	position: relative;
}
.header .navBtn{
	width: .78rem;
	height: 100%;
	background: url(../images/navBtn.png) no-repeat center center;
	background-size: .4rem .34rem;
	position: absolute;
	left: .3rem;
	top: 0;

}
.header .logo{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header .logo img{
	width:1.9rem;
	height: .34rem; 
}

/* 导航菜单 */
.header .nav{
	width: 50%;
	height: auto;
	padding-bottom: .5rem;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0 0 .08rem #ccc;
	position: relative;
	left: -.3rem;
	z-index: 99;
	display: none;
}
.header .nav .nav-item{
	font-size: .24rem;
}
.header .nav .nav-item a{
	height: .6rem;
	line-height: .6rem;
	color: #000000;
	display: block;	
	padding: 0 .3rem;
	box-sizing: border-box;
}
.header .nav .nav-item .selected .sub-list{
	display: block;
}

.header .nav .nav-item .selected{
	background-color: #243e99;
	color: #ffffff;
}

/* 箭头 */
.header .nav .iconfont{
	float: right;	
}
.header .nav .icon-xiangshangjiantou:before{
	display: inline-block;
	transition: all 0.3s ease-in-out;  
	-webkit-transition: all 0.3s ease-in-out;  
	-moz-transition: all 0.3s ease-in-out;  
	-o-transition: all 0.3s ease-in-out;  
	color: #050505;
}

/* 选中样式 */
.header .nav .nav-item .selected .rota:before{
	color: #ffffff;
}

/* 默认样式 */
.header .nav .nav-item .rota:before{
	display: inline-block;
	transform: rotate(180deg);  
	-webkit-transform: rotate(180deg);  
	-moz-transform: rotate(180deg);  
	-o-transform: rotate(180deg);  
	-ms-transform: rotate(180deg); 
	transition: all 0.3s ease-in-out;  
	-webkit-transition: all 0.3s ease-in-out;  
	-moz-transition: all 0.3s ease-in-out;  
	-o-transition: all 0.3s ease-in-out;  
	color: #050505;
}


/* 二级导航 */
.header .nav .sub-list{
	width: 100%;
	background-color: #fff;
	display: none;
}
.header .nav .sub-list .sub-item{
	height: .5rem;
	line-height: .5rem;
	font-size: .2rem;
}
.header .nav .sub-list .sub-item a{
	color: #1c1c1c;
	display:block;
	padding: 0 .3rem;
	box-sizing: border-box;
}


/* 公共底部 */
.footer{
	width: 100%;
	height: 13.9rem;
	color: #ffffff;
	background-image: url(../images/footer-bg.png);
	background-size: 100%;
	padding: 0 .3rem;
	box-sizing: border-box;
}
.footer .logo{
	width: 2.82rem;
	height: 1.8rem;
	margin: 0 auto;
	padding-top: 1.4rem;
	margin-bottom: .3rem;
}
.footer .logo img{
	width: 100%;
}
.footer .copyright{
	height: 1.7rem;
	text-align: center;
}
.footer .qr-code{
	text-align: center;
	margin-bottom: .5rem;
}
.footer .qr-code p{
	line-height: .64rem;
	font-size: .28rem;
}
.footer .qr-code img{
	width: 1.72rem;
	height: 1.72rem;
}

.footer .contact-way {
	margin-left: 25%;
}
.footer .contact-way div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: .2rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: .34rem;
	line-height: .34rem;
}

.footer .contact-way .icon{
	width: .32rem;
	margin-right: .1rem;
	
}

.footer .contact-way .icon img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.footer .footerNav ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.footer .footerNav li{
	height: .46rem;
	line-height: .46rem;
	font-size: .26rem;	
	box-sizing: border-box;
}
.footer .footerNav li span{
	content: '';
	display: inline-block;
	width: .03rem;
	height: .28rem;
	background-color: #fff;
	margin:0 .2rem;
	position: relative;
	top: .05rem;
}

.footer .footerNav li a {
	color: #ffffff;
}


/* 回到顶部 */
.backTop{
	width: .8rem;
	height: .8rem;
	background: url(../images/backTop-icon.png) no-repeat;
	background-size: 100%;
	position: fixed;
	right:.3rem;	
	bottom:1rem;
	display: none;
}

/* 广告图 */
.advert-wrap{
    width: 100%;
    height: 3.2rem;
    margin-bottom: .4rem;
}
.advert-wrap img{
	width: 100%;
   display: block;
}

/* 位置 */
.location{
	font-size: .2rem;
	padding: 0 .3rem;
    box-sizing: border-box;
}
.location a{
	color: #4a90e2;
}
.location span{
	width: .2rem;
	height: .1rem;
	margin: 0 .05rem;
	display: inline-block;
	background: url(../images/arrow-r-location.png) no-repeat;
	background-size:100%
}
.location ul li{
	float: left;
}
.location ul li.active a{
	color: #727375;
}