@charset "utf-8";
/* 重置样式 */

body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, span, button {
	margin: 0;
	padding: 0;
}

body {
	font-size: 0.24rem;
	color: #0a0a0a;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

em {
	font-style: normal;
}

i {
	font-style: inherit;
}

a {
	text-decoration: none;
}

input, textarea, button {
	outline: none;
}

/*去除input默认样式*/

input[type=button], input[type=submit], input[type=file], button {
	cursor: pointer;
	-webkit-appearance: none;
	background: none;
	border: none;
	outline: none;
}

li {
	list-style-type: none;
}

img {
	/* width: 100%; */
}

@font-face {
	font-family: 'pangmenzhengdao';
	src: url('../font/庞门正道标题体2.0增强版.ttf');
}

@font-face {
	font-family: 'SourceHanSansCNMedium';
	src: url('../font/SourceHanSansCN-Medium.otf');
}

@font-face {
	font-family: 'SourceHanSansCNBold';
	src: url('../font/SourceHanSansCN-Bold.otf');
}

.fl {
	float: left;
}

.fr {
	float: right;
}

/*清除浮动*/

.clearfix:before {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}

.clearfix:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}

.clearfix {
	zoom: 1
}

/*是在处理兼容性问题*/

/*public 省略号*/

.publicEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 头部 */

.header {
	width: 100%;
	height: .86rem;
	padding: 0 .3rem;
	box-sizing: border-box;
	background: transparent;
	position: relative;
	left: 0;
	top: 0;
	z-index: 9;
}

.header .navBtn {
	width: .78rem;
	height: 100%;
	background: url(../images/navBtn-blue.png) no-repeat center center;
	background-size: .4rem .34rem;
	position: absolute;
	left: .3rem;
	top: 0;
}

.header .tel {
	height: .34rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #0b0b9a;
	font-size: .24rem;
	position: absolute;
	right: .3rem;
	top: .3rem;
}

.header .tel .icon {
	width: .3rem;
	display: inline-block;
	margin-right: .1rem;
}

/* 导航菜单 */

.header .nav {
	width: 50%;
	height: auto;
	padding-bottom: .5rem;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0 0 .08rem #ccc;
	position: relative;
	left: -.3rem;
	top: .88rem;
	z-index: 99;
	display: none;
}

.header .nav .nav-item {
	font-size: .24rem;
}

.header .nav .nav-item a {
	height: .6rem;
	line-height: .6rem;
	color: #000000;
	display: block;
	padding: 0 .3rem;
	box-sizing: border-box;
}

.header .nav .nav-item .selected .sub-list {
	display: block;
}

.header .nav .nav-item .selected {
	background-color: #243e99;
	color: #ffffff;
}

/* 箭头 */

.header .nav .iconfont {
	float: right;
}

.header .nav .icon-xiangshangjiantou:before {
	display: inline-block;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	color: #050505;
}

/* 选中样式 */

.header .nav .nav-item .selected .rota:before {
	color: #ffffff;
}

/* 默认样式 */

.header .nav .nav-item .rota:before {
	display: inline-block;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	color: #050505;
}

/* 二级导航 */

.header .nav .sub-list {
	width: 100%;
	background-color: #fff;
	display: none;
}

.header .nav .sub-list .sub-item {
	height: .5rem;
	line-height: .5rem;
	font-size: .2rem;
}

.header .nav .sub-list .sub-item a {
	color: #1c1c1c;
	display: block;
	padding: 0 .3rem;
	box-sizing: border-box;
}

.adv-container {
	height: 2rem;
	margin-bottom: .2rem;
	position: relative;
}

.adv-container img {
	width: 100%;
}

.adv-container .mask {
	width: 100%;
	height: 100%;
	color: #ffffff;
	background: rgba(0, 0, 0, .4);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 0;
}

.adv-container .mask p {
	font-size: .38rem;
	font-family: 'SourceHanSansCNMedium';
}

/* 公共底部 */
.footer {
	width: 100%;
	color: #ffffff;
	background: #1c1a1a;
	position: relative;
	padding:.3rem .8rem;
	box-sizing: border-box;
}

.contact-us{
	height: .6rem;
	line-height: .6rem;
	border-bottom: .02rem solid #ffffff;
	font-size: .18rem;
	color: #ffffff;
	margin-bottom: .4rem;
	clear: both;
}
.contact-us span{
	font-size: .2rem;
}

.footer .contact-way .way-item{
	height: .34rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: .18rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: .4rem;
}

.footer .contact-way .icon{
	width: .34rem;
	height: .34rem;
	display: inline-block;
	margin-right: .1rem;
	vertical-align: middle;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer .contact-way .icon img {
	max-width: 100%;
	max-height: 100%;
}

.footer .contact-way span {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/* 二维码 */
.footer .qr-code {
	display: flex;
	justify-content: space-around;
	margin-bottom: .5rem;
}
.footer .qr-code .code-item{
	text-align: center;
}

.footer .qr-code p {
	line-height: .55rem;
	font-size: .2rem;
}

.footer .qr-code img {
	width: 1.38rem;
	height: 1.38rem;
	display: block;
}
.footer .links{
	margin-bottom: .4rem;
	text-align: center;
}
.footer .links img{
	height: .34rem;
	margin: 0 .06rem;
}
.footer .copyright {
	font-size: .24rem;
	text-align: center;
}

.footer .consultBtn .icon {
	margin-right: .07rem;
}

.footer .consultBtn .icon img {
	vertical-align: middle;
}

/* 回到顶部 */

.backTop {
	width: .6rem;
	height: .6rem;
	cursor: pointer;
	position: fixed;
	bottom: 3.96rem;
	right: 0;
	z-index: 9;
	display: none;
}

.backTop img {
	width: 100%;
}

/* 咨询按钮 */
.consultBtn {
	width: .64rem;
	height: .64rem;
	cursor: pointer;
	position: fixed;
	bottom: 3.9rem;
	left: .1rem;
	z-index: 99;
	display: none;
}
.consultBtn img{
	width:100%;
}

/* 广告图 */

.advert-wrap {
	width: 100%;
	height: 3.2rem;
	margin-bottom: .4rem;
}

.advert-wrap img {
	width: 100%;
	display: block;
}

/* 位置 */

.location {
	font-size: .2rem;
	padding: 0 .3rem;
	box-sizing: border-box;
}

.location a {
	color: #4a90e2;
}

.location span {
	width: .2rem;
	height: .1rem;
	margin: 0 .05rem;
	display: inline-block;
	background: url(../images/arrow-r-location.png) no-repeat;
	background-size: 100%
}

.location ul li {
	float: left;
}

.location ul li.active a {
	color: #727375;
}

/* 资讯分类 */

.information-category {
	margin-bottom: .4rem;
}

.information-category .title {
	height: .9rem;
	line-height: .9rem;
	font-size: .22rem;
	border-bottom: .02rem solid #eeeeee;
	margin-bottom: .2rem;
}

.information-category .cate-list li {
	height: .44rem;
	line-height: .44rem;
	font-size: .18rem;
	margin-bottom: .08rem;
}

.information-category .cate-list li a {
	width: 100%;
	height: 100%;
	color: #4a90e2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.information-category .cate-list li i {
	margin-right: .12rem;
}

.information-category .cate-list li img {
	width: .44rem;
}