.advert-wrap{
    margin-bottom: .8rem;
}

.content{
    padding: 0 .3rem;
    box-sizing: border-box;
}

/* 学校列表 */
.school-list .school-item{
    width: 6.88rem;
    height: 10rem;
    box-shadow: .01rem .01rem .08rem #ccc;
    margin-bottom: .4rem;
    position: relative;
}

.school-list .school-item .img-wrap{
    width: 100%;
    height: 6.36rem;
    overflow: hidden;
}
.school-list .school-item .img-wrap img{
    width: 100%l;
    display: block;
}
.school-list .school-item .text{
    padding: .3rem;
    box-sizing: border-box;
}
.school-list .school-item .text h3{
    font-size: .26rem;
    color: #4a90e2;
    margin-bottom: .3rem;
}
.school-list .school-item .text p{
    line-height: .36rem;
    font-size: .24rem;
    color: #2b2b2b;
}
.school-list .school-item .text h4{
    font-size: .2rem;
    color: #4a90e2;
    position: absolute;
    left: .3rem;
    bottom: .45rem;
}