.advert-wrap{
    margin-bottom: .8rem;
}

.content{
    padding: 0 .3rem;
    box-sizing: border-box;
}

/* 学校列表 */
.school-list .school-item{
    width: 6.88rem;
    height: 10rem;
    box-shadow: .01rem .01rem .08rem #ccc;
    margin-bottom: .4rem;
    position: relative;
}

.school-list .school-item .img-wrap{
    width: 6.88rem;
    overflow: hidden;
}
.school-list .school-item .img-wrap img{
    width: 100%;
    border-radius: .12rem;
    display: block;
}
.school-list .school-item .text{
    padding: .3rem;
    box-sizing: border-box;
}
.school-list .school-item .text h3{
    font-size: .26rem;
    color: #4a90e2;
    margin-bottom: .3rem;
}
.school-list .school-item .text p{
    line-height: .36rem;
    font-size: .24rem;
    color: #2b2b2b;
}
.school-list .school-item .text h4{
    font-size: .2rem;
    color: #4a90e2;
    position: absolute;
    left: .3rem;
    bottom: .45rem;
}


/* 页码 */
.page{
    text-align: center;
    margin-bottom: .5rem;
}
.page a{
    width: .35rem;
    height: .35rem;
    line-height: .35rem;
    text-align: center;
    font-size: .24rem;
    color: #9b9b9b;
    display: inline-block;
    background-color: #eeeeee;
    border-radius: 50%;
}
.page a.active{
    color: #4a90e2;
    background-color: #c8e3f9;
}
.page a:hover{
    color: #4a90e2;
    background-color: #c8e3f9; 
}