.location{
    margin-bottom: .4rem;
}
.content{
    padding: 0 .3rem;
    box-sizing: border-box;
}
.content img{
    margin-bottom: .4rem;
}
.content h1{
    font-size: .26rem;
    text-align: center;
    margin-bottom: .4rem;
}
.spots-list .spots-item{
    margin-bottom: .4rem;
}
.spots-list .spots-item .headline{
    width: 2.06rem;
    height: .54rem;
    line-height: .54rem;
    font-size: .22rem;
    text-align: center;
    border: .04rem dotted #f8e71c;
    color: #7ed321;
    margin: 0 auto .4rem;
}
.spots-list .spots-item p{
    width: 5.46rem;
    margin: 0 auto;
    font-size: .22rem;
    line-height: .34rem;
    text-align: center;
}