/* 选择菲律宾理由 */
.choice-reasons{
    padding: 0 .3rem .35rem;
    box-sizing: border-box;
}
.choice-reasons h2{
    height: 1.18rem;
    line-height: 1.18rem;
    text-align: center;
    font-family: pangmenzhengdao;
}

.choice-reasons .reasons-list {
    width: 5.5rem;
    margin: 0 auto;
}
.choice-reasons .reasons-list .item{
    width: 2.66rem;
    height: 2.66rem;
    border-radius: .12rem;
    float: left;
    margin-right: .18rem;
    margin-bottom: .18rem;
    overflow: hidden;
    position: relative;
}
.choice-reasons .reasons-list .item:nth-child(even){
    margin-right: 0;
}
.choice-reasons .reasons-list .item img{
    width: 100%;
    display: block;    
}
.choice-reasons .reasons-list .item .mask{
    width: 100%;
    height: .78rem;
    text-align: center;
    background: rgba(0,0,0,.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #ffffff;
    font-size: .22rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* 公共标题1 */
.title{
    font-size: .3rem;
    height: 1.46rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.title h4{
    font-size: .24rem;
}

/* 学员生活 */
.student-life{
    width: 100%;
    background-color: #eeeeee;
    padding: 0 .3rem .75rem;
    box-sizing: border-box;
}

.student-life .life-list .item{
    width: 1.6rem;
    height: 2.6rem;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: .16rem;
    overflow: hidden;
    border-radius: .06rem;
}
.student-life .life-list .item:last-child{
    margin-right: 0;
}
.student-life .life-list .item img{
    width: 100%;
    display: block;
}
.student-life .life-list .mask{
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
}
.student-life .life-list .mask h3{
    font-size: .24rem;
}
.student-life .life-list .mask h4{
    font-size: .22rem;
}


/* 校园视频 */
.video-wrap{
    width: 100%;
    background-color: #eeeeee;
    padding: 0 .3rem;
    box-sizing: border-box;
}

.video-wrap .video{
    width: 6.86rem;
    height:3.86rem;
    margin: 0 auto;
    background: url(../images/video-bg.png) no-repeat;
    background-size: 100%;
    position: relative;
    margin-bottom: .4rem;
}
.video-wrap .video .video-player{
    width: 3.86rem;
    height:2.2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 98;
    transform: translate(-50%,-50%);
    background-color: #000;
    overflow: hidden;
}
.video-wrap .video .playBtn{
    width: .54rem;
    height: .54rem;
    display: block;
    background: url(../images/play-btn.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    transform: translate(-50%,-50%);
}

/* 视频居中 */
.video-wrap .video .prism-player{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.prism-player .prism-big-play-btn .outter{
    display: none;
}

/* 全屏按钮 */
/* .prism-player .prism-fullscreen-btn{
    width:.4rem;
    height:.4rem;
} */
.prism-player .prism-animation{
    width: .3rem;
    height: .3rem;
    left: 0;
    top: 0;
}
/* 公共小标题 */
.decTit{
    height: .7rem;
    line-height: .7rem;
    font-size: .24rem;
}

/* 强纳森故事 */
.story-wrap{
    background-color: #ffffff;
    padding: 0.24rem .3rem;
    box-sizing: border-box;
}
.story-wrap img{
    width: 100%;
    display: block;
}

/* 公共标题2 */
.headline{
    height: 2.88rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.headline h3{
    font-size: .52rem;
    margin-bottom: .6rem;
}
.headline span{
    width: 1rem;
    height: .04rem;
    background-color: #4a90e2;
    display: inline-block;
}

/* 优质学校  */
.good-schools{
    background-color: #eeeeee;
    padding: 0 .3rem;
    box-sizing: border-box;
}

.good-schools .schools-list .item{
    width: 6.86rem;
    height: 7.8rem;
    border-radius: .12rem;
    background-color: #fff;
    box-shadow: .01rem .01rem .08rem #ccc;
    margin-bottom: .7rem;
    overflow: hidden;
}
.good-schools .schools-list .item img{
    width: 100%;
    display: block;
    border-radius: .12rem;
}
.good-schools .schools-list .item .text h3{
    width: 100%;
    font-size: .3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    color: #000000;
    font-weight: 400;
}

/* 公共链接 */
.more-link{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size: .3rem;
    font-weight: 400;
    text-align: center;
    background-color: #253b94;
    border-radius: .46rem;
}
.more-link a{
    color: #ffffff;
    display: block;
}


/* 热门景点 */
.hot-spots{
    background-color: #eeeeee;
    padding: 0 .3rem 1.56rem;
    box-sizing: border-box;
}

.hot-spots .spots-list .item{
    width: 6.86rem;
    height: 9.4rem;
    background-color: #ffffff;
    border-radius: .15rem;
    margin-bottom:.4rem;
    box-shadow: .01rem .01rem .08rem #ccc;
    position: relative;
}

.hot-spots .spots-list .item .img-wrap{
    width: 6.86rem;
    height:4.6rem;
    border-radius: .12rem;
}

.hot-spots .spots-list .item .img-wrap img{
    width: 100%;
    display: block;
}

.hot-spots .spots-list .item .text{
    padding: .36rem;
    box-sizing: border-box;
}

.hot-spots .spots-list .item .text h3{
    font-size: .28rem;
    font-weight: 400;
    margin-bottom: .28rem;
}
.hot-spots .spots-list .item .text .date{
    color:#afafaf;
    font-size: .22rem;
    margin-bottom: .4rem;
}
.hot-spots .spots-list .item .text .dec{
    line-height: .34rem;
    color: #2b2b2b;
    font-size: .2rem;
}
.hot-spots .spots-list .item .text .link{
    color: #4a90e2;
    font-size: .26rem;
    position: absolute;
    left: .3rem;
    bottom: .5rem;
}